<!DOCTYPE html>
<html lang="es">

<head>
    <title>POS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/images/favicon.webp" type="icon/webp" sizes="32x32" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
    <div class="main-container-login">
        <form method="POST" action="/login" class="form-login">
            <h2 class="heading">INICIAR SESIÓN</h2>

            <div class="empty-div">
                <% if (message) { %>
                    <div class="error-message">
                        <%= message %>
                    </div>
                    <% } %>
            </div>

            <div class="main-div">
                <div class="div">
                    <label for="user" class="text">Usuario</label>
                    <input id="user" name="user" type="text" class="textinput" autofocus />
                </div>

                <div class="div">
                    <label for="pass" class="text">Contraseña</label>
                    <input id="pass" name="pass" type="password" class="textinput" />
                </div>
            </div>
            <div class="btns-div">
                <button type="submit" class="submit-btn btn black">entrar</button>
                <a href="/register" class="submit-btn btn blue">registrar</a>
            </div>
        </form>
        <div class="round-div">
            <img alt="logo" src="/images/logo.webp" class="round-img" />
        </div>
    </div>
    <script src=""></script>
</body>

</html>